<div *ngIf="item">
    <h2>
        <a href="javascript:void(0)" (click)="onBack()">
            &laquo; Back to Home
        </a>
    </h2>
    <div class="item-container">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active">
                <a href="javascript:void(0)">Edit</a>
            </li>
            <li role="presentation" *ngIf="item.Id != 0">
                <a href="javascript:void(0)" (click)="onItemDetailView(item)">View</a>
            </li>
        </ul>
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="item-detail-edit" #thisForm="ngForm">
                    <h3>
                        Edit Member Info
                    </h3>
                    <div class="form-group">
                        <label for="input-firstname">First Name</label>
                        <input id="input-firstname" name="input-firstname" type="text" class="form-control" [(ngModel)]="item.FirstName" placeholder="Insert the first name..." required />
                    </div>
                    <div class="form-group">
                        <label for="input-lastname">Last Name</label>
                        <input id="input-lastname" name="input-lastname" type="text" class="form-control" [(ngModel)]="item.LastName" placeholder="Insert the last name..." required />
                    </div>
                    <div class="form-group">
                        <label for="input-emailaddress">Email Address</label>
                        <input id="input-emailaddress" name="input-emailaddress" type="text" class="form-control" [(ngModel)]="item.EmailAddress" placeholder="Insert the email address..." required />
                    </div>
                    <div class="form-group">
                        <label for="input-contactnumber">Contact Number</label>
                        <input id="input-contactnumber" name="input-contactnumber" type="text" class="form-control" [(ngModel)]="item.ContactNumber" placeholder="Insert the contact number..." required />
                    </div>
                    <div class="form-group">
                        <div class="input-group-append">
                            <label for="input-dateofbirth">Date of Birth</label>
                        </div>
                        <div class="input-group-append">
                            <input id="input-dateofbirth" name="input-dateofbirth" type="text" 
                                   placeholder="{{item.DateOfBirth | date : 'dd/MM/yyyy' }}" 
                                   ngbDatepicker #d="ngbDatepicker" class="form-control" 
                                   [(ngModel)]="item.DateOfBirth" required (click)="d.toggle()" 
                                   [minDate]="{year: 1900, month: 1}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-accountstatus">Account Status</label>

                        <div ngbDropdown class="d-inline-block">
                            <dropdown-custom 
                                name="item.AccountStatus"
                                [options]="statuses"
                                [(ngModel)]="item.AccountStatus"
                                (onload)="selectValue(item.AccountStatus)">
                            </dropdown-custom>
                        </div>
                    </div>

                    <!--https://stackoverflow.com/questions/42170566/how-to-configure-ngbdropdown-to-display-the-selected-item-from-the-dropdown -->
                    <div *ngIf="item.ID == 0" class="commands insert">
                        <input type="button" class="btn btn-primary" value="Save" (click)="onInsert(item)" />
                        <input type="button" class="btn btn-default" value="Cancel" (click)="onBack()" />
                    </div>
                    <div *ngIf="item.ID != 0" class="commands update">
                        <input type="button" class="btn btn-primary" value="Update" (click)="onUpdate(item)" />
                        <input type="button" class="btn btn-danger" value="Delete" (click)="onDelete(item)" />
                        <input type="button" class="btn btn-default" value="Cancel" (click)="onItemDetailView(item)" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>