<h2>
    List of existing club members
</h2>
<div class="item-container">
    <div class="panel panel-default">
        <table class="table table-hover">
            <tr>
                <th class="item-list-header" *ngFor="let col of columns">
                    {{ col }}
                </th>
            </tr>
            <tr *ngFor="let item of items" (click)="onSelect(item)">
                <td class="item-list-cell" *ngFor="let col of columns">
                    {{ item[col] }}
                </td>
            </tr>
        </table>
    </div>
</div>